@model DynacityFront.DTO.EventDTO
@using Utility;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpAcc
@{
    ViewData["Title"] = "Details";
}

<div class="hero page-inner overlay"
     style="background-image: url('/images/hero_bg_3.jpg')">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">
                    @Html.DisplayFor(model => model.Address)
                </h1>

                <nav aria-label="breadcrumb"
                     data-aos="fade-up"
                     data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item">
                            <a asp-controller="Property" asp-action="Index">Properties</a>
                        </li>
                        <li class="breadcrumb-item active text-white-50"
                            aria-current="page">
                            @Html.DisplayFor(model => model.Address)
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7">
                <div class="img-property-slide-wrap">
                    <div class="img-property-slide">
                        <img src="@("~/image/"+Model.EventPhotoURL)" alt="Image" class="img-fluid" asp-append-version="true" style="height:100vh!important;" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h2 class="heading text-primary">@Html.DisplayFor(model => model.Address)</h2>
                <h3 class="heading text-primary">@Html.DisplayFor(model => model.StartDate) - @Html.DisplayFor(model => model.EndDate)</h3>
                <p class="meta">@Html.DisplayFor(model => model.EventName)</p>
                <h3>
                    <a type="button" class="btn btn-secondary btn-lg" href="https://api.sandbox.paypal.com/v1/payments">Reserve Now!</a>
                </h3>
                <p class="text-black-50">
                    @Html.DisplayFor(model =>model.EventUrl)
                </p>
               

                <p class="text-black-50">
                    Description:                @Html.DisplayFor(model => model.Description)
                </p>
               

                
            </div>
        </div>
    </div>
</div>
 @if (httpAcc.HttpContext.Session.GetString(SD.SessionToken) != null && httpAcc.HttpContext.User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Details">
                <div class="form-group">
                    <input hidden asp-for="EventId" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="EventName" class="control-label"></label>
                    <input disabled asp-for="EventName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input disabled asp-for="Description" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input disabled asp-for="Address" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="EventUrl" class="control-label"></label>
                    <input disabled asp-for="EventUrl" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="EventPhotoURL" class="control-label"></label>
                    <input disabled asp-for="EventPhotoURL" class="form-control" />
                </div>

            </form>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.EventId  }) |
    <a asp-action="Index">Back to List</a>
</div>